<table class="table table-striped">
  <thead>
  <tr>
    <th>Пользователь: '<%= @tester.name %>'</th>
  </tr>
  <% unless @tester.descriptions.nil? %>
      <tr>
        <th>Описание: '<%= @testergti.descriptions %>'</th>
      </tr>
  <% end %>
  <tr>
    <th>Фото</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
  <% @tester.photos.each do |photo| %>
          <%= link_to 'javascript:void(0)', 'data-toggle':"modal", 'data-target':".bs-example-modal-lg" do %>
              <%= image_tag photo_path(photo), class: 'image_preview' %>
          <% end %>
  <% end %>
    </td>
  </tr>
  </tbody>
</table>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Видео</th>
  </tr>
  </thead>
  <tbody>
  <% @tester.videos.each do |app| %>
      <tr>
        <td><%= link_to app.name,tester_path(app) %></td>
      </tr>
  <% end %>
  </tbody>
</table>


<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="image">
      </div>
    </div>
  </div>
</div>

